<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\www.log\Onesmart.IdentityServer.Service\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Console"
          name="Console"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>